3
 
 <!-- este comando mostra apenas como criar um 
conteiner do Angular "ng-container" estilizada com duas cores usadas anteriormente
dentro donde verdadeiro fica grenn e falso fica red-->
<div class="content" role="main">


    <table>
      <p>Abaixo apenas um conteiner com duas cores em uma mesma coluna</p>
      <ng-container *ngFor="let num of nums2; index as i; count as total; even as even; odd as odd">
        <tr [style]="even ? green : red" style="color:black; text-align:center;">
          <td>{{i+1}}. {{num}}</td>
        </tr>
      </ng-container>

    </table>


  </div>